@font-face {
  font-family: "VCR OSD Mono";
  src: url("../assets/fonts/VCR_OSD_MONO_1.001.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Questiora";
  src: url("../assets/fonts/QuestioraRegular-Wpa9G.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.navbar {
  display: flex;
  padding: 1.5rem 0.9rem 0.5rem 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.navbar-logotipo {
  height: 3.4rem;
  aspect-ratio: 296/150;
}

.menu-mobile-button {
  width: 9rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.menu-mobile-button img {
  width: 4.5rem;
}

.menu-mobile-button > * {
  position: relative;
  z-index: 1;
}

.navbar-menu-line {
  position: absolute;
  margin-right: 0.3rem;
  z-index: 0;
}
.navbar-menu-line img {
  width: 0.4rem;
  height: 10rem;
}

.extra-menu {
  display: flex;
  justify-content: flex-end;
}

.extra-menu-buttons-div {
  margin-right: 0.9rem;
  display: flex;
  flex-direction: column;
  width: 9rem;
  align-items: center;
  gap: 1.1rem;
  position: absolute;
  z-index: 99;
}

.navbar-extra-button {
  width: 7rem;
}

.new-button-div {
  position: relative;
  z-index: 1;
}

.new-button {
  position: absolute;
  left: -2.7rem;
  top: 45%;
  transform: translateY(-50%);
  width: 2rem;
  z-index: 0;
}

.menu-desktop, .menu-desktop-bar, .menu-closed {
  display: none;
}

@media (min-width: 900px) {
  .navbar {
    display: flex;
    padding: 2.4rem 3rem 0.5rem 3.8rem;
  }
  .navbar-logotipo {
    height: 4.5rem;
  }
  .menu-mobile-button, .extra-menu, .navbar-menu-line {
    display: none;
  }
  .menu-desktop {
    display: flex;
    position: relative;
    z-index: 1;
  }
  .menu-desktop-bar {
    display: flex;
    width: 37.4rem;
  }
  .menu-single-box {
    position: absolute;
    z-index: 0;
    top: -13%;
    cursor: pointer;
    width: 9rem;
  }
  .box-1 {
    left: 5%;
  }
  .box-2 {
    left: 38.5%;
  }
  .box-3 {
    left: 71%;
  }
  .box-sel {
    opacity: 0;
  }
  .box-not-sel {
    opacity: 1;
  }
  .menu-link:hover .box-sel,
  .menu-link:focus .box-sel {
    opacity: 1;
  }
  .menu-link:hover .box-not-sel,
  .menu-link:focus .box-not-sel {
    opacity: 0;
  }
}
.welcome-page {
  justify-content: center;
}

.greetings-message {
  width: 15.8rem;
  aspect-ratio: 1977/1121;
  margin-top: 9rem;
}

.home-animated-bar {
  width: 15.8rem;
  height: 10px;
}
.home-animated-bar video {
  transform: translate(-37.5%, -35%) scale(0.33);
}

.home-figures, .figures-contenedor {
  display: none;
}

@media (min-width: 900px) {
  .welcome-page {
    align-items: flex-start;
  }
  .greetings-message {
    margin-top: 3.5rem;
    width: 19.8rem;
  }
  .home-animated-bar {
    margin-top: 1.5rem;
    width: 17rem;
    height: 100px;
  }
  .home-animated-bar video {
    transform: translate(-34.3%, -34%) scale(0.45);
  }
}
@media (min-width: 1248px) {
  .welcome-page {
    align-items: center;
  }
  .greetings-message {
    margin-top: 1.6rem;
    width: 23.8rem;
  }
  .home-animated-bar {
    margin-top: 3rem;
    width: 21rem;
    height: 100px;
  }
  .home-animated-bar video {
    transform: translate(-31.3%, -35%) scale(0.55);
  }
  .figures-contenedor {
    display: flex;
    position: relative;
    flex: 1;
    height: 700px;
  }
  .figures-contenedor figure {
    position: absolute;
    width: 450px;
  }
  .home-figures {
    position: absolute;
    display: flex;
    width: 220px;
    aspect-ratio: 1/1;
  }
  .fondo-a {
    aspect-ratio: 660/674;
    top: -20px;
    left: -50px;
  }
  .figure-a {
    top: 78px;
    left: 47px;
  }
  .fondo-b {
    aspect-ratio: 626/652;
    bottom: -180px;
    right: -70px;
  }
  .figure-b {
    width: 200px;
    bottom: -50px;
    right: 25px;
  }
}
footer {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 3rem;
}

.about-us {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 3rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin-left: 0.1rem;
}

.about-us-link {
  position: absolute;
  top: -120%;
  left: -30%;
}

.about-us-box, .about-us-sel-box {
  width: 5rem;
  height: 2.3rem;
}

.about-us-box {
  opacity: 1;
  position: absolute;
}

.about-us-sel-box {
  opacity: 0;
  position: absolute;
}

.about-us:hover .about-us-sel-box,
.about-us:focus .about-us-sel-box {
  opacity: 1;
}

.about-us:hover .about-us-box,
.about-us:focus .about-us-box {
  opacity: 0;
}

@media (min-width: 900px) {
  footer {
    padding: 4rem;
  }
  .about-us {
    width: 4rem;
  }
  .about-us-link {
    position: absolute;
    top: -135%;
    left: -26%;
  }
  .about-us-box, .about-us-sel-box {
    width: 6.5rem;
    height: 3.5rem;
  }
}
.videos {
  margin-top: 0.2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-bottom: 0.2rem;
}

.video-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-card__image {
  height: 4rem;
  width: 4rem;
}
.video-card__image img {
  object-fit: contain;
}

.video-card__video video {
  width: 4rem;
  height: 4rem;
}

.video-card__title {
  width: 7rem;
  aspect-ratio: 112/20.2667;
}

.video-card__desc {
  font-family: "Arial";
  font-size: 0.5rem;
  color: white;
  text-shadow: 0.13rem 0.14rem 0 rgba(0, 0, 0, 0.9);
  text-align: center;
  margin-top: 0.4rem;
}

@media (min-width: 720px) {
  .videos {
    margin-top: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 0.5rem;
  }
  .video-card__image {
    height: 5rem;
    width: 5rem;
  }
  .video-card__video video {
    width: 5rem;
    height: 5rem;
  }
  .video-card__title {
    width: 9rem;
    aspect-ratio: 112/20.2667;
  }
  .video-card__desc {
    font-size: 0.65rem;
  }
}
@media (min-width: 1000px) {
  .videos {
    margin-top: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 7rem;
    width: 100%;
    row-gap: 4rem;
    column-gap: 3rem;
  }
  .video-card {
    gap: 0.5rem;
  }
  .video-card__image {
    width: 9rem;
    height: 7rem;
  }
  .video-card__video video {
    width: 9rem;
    height: 7rem;
  }
  .video-card__title {
    width: 12rem;
  }
  .video-card__desc {
    font-size: 0.85rem;
    width: 30ch;
    text-align: justify;
    text-align-last: center;
  }
}
.content-title-text.programming-title {
  width: 8rem;
  aspect-ratio: 128/20.9167;
}

.programming-description {
  margin-top: 0.7rem;
  width: 16rem;
  aspect-ratio: 2895/1441;
}

.programming-video video {
  width: 4rem;
}

.articles-menu-grid {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 95%;
  margin-bottom: 2rem;
}

.articles-menu-one-option {
  margin: 0 auto;
}

.article-image-select {
  width: 6rem;
  aspect-ratio: 777/481;
  margin: 0 auto;
}

.article-title-select {
  margin-top: 1rem;
}

.article-description-select {
  margin-top: 0.5rem;
  text-align: justify;
}
.article-description-select p {
  font-size: 0.6rem;
}

.article {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-not-found {
  margin: 2rem auto;
  font-size: 1rem;
}

.article-title {
  width: 14rem;
  aspect-ratio: 1440/322;
}

.article-copete {
  margin-top: 2.5rem;
  gap: 0.5rem;
  display: flex;
  width: 100%;
  height: 10rem;
  justify-content: space-between;
  align-items: flex-start;
}

.article-image {
  margin-top: 0.7rem;
  width: 5.5rem;
  aspect-ratio: 777/481;
}

.article-epigrafe {
  text-align: justify;
  width: 80%;
}
.article-epigrafe span {
  font-size: 0.55rem;
  font-weight: 500;
  text-align-last: left;
  display: block;
}
.article-epigrafe span:last-child {
  margin-top: 0.3rem;
  text-align-last: right;
}

.article-body p {
  font-size: 0.65rem;
}

.arrow-section {
  display: flex;
  margin-top: 6rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.arrow-section p {
  font-size: 0.8rem;
}

.article-arrow {
  width: 0.8rem;
  cursor: pointer;
}

.disabled {
  width: 0.8rem;
  visibility: hidden;
  pointer-events: none;
}

@media (min-width: 700px) {
  .articles-menu-grid {
    margin-top: 8rem;
    width: 85%;
    gap: 2rem;
  }
  .article-image-select {
    width: 6rem;
    margin-left: 2.5rem;
  }
  .article-title-select {
    width: 17rem;
  }
  .article-description-select {
    width: 30ch;
  }
  .article-description-select p {
    font-size: 0.8rem;
  }
}
@media (min-width: 1100px) {
  .programming-description {
    margin-top: 0.7rem;
    width: 20rem;
  }
}
@media (min-width: 1200px) {
  .content-title-text.programming-title {
    width: 10rem;
  }
  .programming-description {
    margin-top: 0.7rem;
    width: 24rem;
  }
  .programming-video {
    margin-top: 0.5rem;
  }
  .programming-video video {
    width: 6rem;
  }
  .articles-menu-grid {
    width: 65%;
    margin-top: 5rem;
    gap: 0rem;
    padding: 0;
    margin-bottom: 0rem;
    height: auto;
    border: none;
  }
  .articles-menu-one-option {
    border: none;
  }
  .article-image-select {
    width: 7rem;
    margin-left: 3.3rem;
  }
  .article-title-select {
    width: 18rem;
  }
  .article-description-select {
    width: 35ch;
  }
  .article-description-select p {
    font-size: 0.92rem;
  }
  .article {
    width: 60%;
    margin: 0 auto;
  }
  .article-title {
    width: 20rem;
  }
  .article-image {
    width: 10rem;
  }
  .article-epigrafe {
    width: 30rem;
  }
  .article-epigrafe span {
    font-size: 1rem;
  }
  .article-body {
    margin-top: 3rem;
  }
  .article-body p {
    font-size: 1.1rem;
  }
  .arrow-section {
    margin-top: 5rem;
    gap: 1.6rem;
  }
  .arrow-section p {
    font-size: 1rem;
  }
  .article-arrow {
    width: 1.1rem;
  }
}
.description-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.description-box {
  width: 12rem;
}

.view-cart {
  width: 3.2rem;
}

.market-div {
  margin-top: 1.1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.3rem;
}

.market {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin-bottom: 0.2rem;
  row-gap: 2.5rem;
}

.item-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "Arial";
  font-size: 0.5rem;
  text-shadow: 0.13rem 0.14rem 0 rgba(0, 0, 0, 0.9);
}

.item-image {
  height: 6rem;
  aspect-ratio: 513/665;
}

.item-card__link {
  text-decoration: none;
  color: inherit;
}
.item-card__link :hover {
  opacity: 0.8;
}

.item-title {
  width: 4.8rem;
  font-size: 0.6rem;
  margin-top: 0.5rem;
}

.item-size-price {
  margin-top: 0.3rem;
  display: flex;
  font-family: VCR OSD Mono;
  color: #FEF001;
  width: 4.8rem;
  justify-content: space-between;
}

.item-price {
  margin-right: 0.25rem;
}

.raffle-ticket {
  letter-spacing: -0.04em;
  font-size: 0.46rem;
}

.about-us.add-to-cart {
  width: 5rem;
  margin-top: 1rem;
}

.add-to-cart-text {
  width: 4.2rem;
  padding: 0 0.3rem;
}

.about-us-link.add-link {
  top: -150%;
  left: 0%;
}

.about-us-box.add-cart-box, .about-us-sel-box.add-cart-box-sel {
  width: 5rem;
  height: 2rem;
}

.simple-text.waiting-msg {
  margin-top: 1rem;
  font-family: Questiora;
  font-size: 0.9rem;
  color: #FEF001;
}

.item-image {
  position: relative;
}

.product-card__jpg {
  position: relative;
}

.sold-badge {
  position: absolute;
  top: 0rem;
  right: 0.8rem;
  width: 4rem;
}

.sold-badge-product-page {
  position: absolute;
  top: 0rem;
  right: 0.3rem;
  width: 8rem;
}

@media (min-width: 800px) {
  .description-section {
    gap: 2rem;
  }
  .description-box {
    margin-top: 0.5rem;
    width: 17rem;
  }
  .view-cart {
    width: 5rem;
  }
  .market-div {
    width: auto;
    margin-top: 3.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
  }
  .market {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    margin-left: 4rem;
    row-gap: 7rem;
    column-gap: 7rem;
  }
  .waiting-msg {
    margin-top: 1rem !important;
  }
  .item-card {
    align-items: flex-start;
    color: white;
    font-family: "Arial";
    font-size: 0.5rem;
    text-shadow: 0.13rem 0.14rem 0 rgba(0, 0, 0, 0.9);
  }
  .item-image {
    align-self: flex-start;
    height: 12rem;
    aspect-ratio: 513/665;
  }
  .item-title {
    width: 7.5rem;
    font-size: 0.9rem;
  }
  .item-size-price {
    font-size: 0.95rem;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 7.5rem;
  }
  .raffle-ticket {
    font-family: VCR OSD Mono;
    color: #FEF001;
    width: 10ch;
    font-size: 0.8rem;
  }
  .item-price {
    font-family: VCR OSD Mono;
    color: #FEF001;
  }
  .about-us.add-to-cart {
    width: 7.5rem;
    margin-top: 10px;
  }
  .add-to-cart-text {
    width: 6rem;
    padding: 0 0.3rem;
  }
  .about-us-link.add-link {
    top: -150%;
    left: 0%;
  }
  .about-us-box.add-cart-box, .about-us-sel-box.add-cart-box-sel {
    width: 7.5rem;
    height: 3rem;
  }
  .simple-text.waiting-msg {
    margin-top: 1.3rem;
    font-family: Questiora;
    font-size: 1.1rem;
    color: #FEF001;
  }
}
.content-page.about-us-page {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
  padding: 0 2rem;
}

.about-us-page__video {
  margin: 0 auto;
}
.about-us-page__video video {
  aspect-ratio: 1/1;
  width: 4rem;
}

.yellow {
  color: #FEF001;
}

.about-us-credits {
  font-size: 0.7rem;
  font-weight: 200;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.about-us-page__naming {
  margin-top: 1rem;
  width: 17.2rem;
  aspect-ratio: 2485/488;
}

.about-us-page__description {
  margin: 0 auto;
  margin-top: 1.2rem;
  text-align: center;
  font-family: Arial;
  font-size: 0.7rem;
  color: white;
}

.simple-text.about-us-services {
  font-size: 0.65rem;
  line-height: 1.3rem;
  text-align: center;
}

.instagram-link {
  margin-top: 1.8rem;
  width: 4.9rem;
  margin-right: 0;
}

@media (min-width: 720px) {
  .about-us-page__naming {
    width: 23rem;
  }
  .about-us-page__description {
    font-size: 0.86rem;
  }
  .instagram-link {
    width: 6rem;
  }
}
@media (min-width: 800px) {
  .content-page.about-us-page {
    padding: 0;
    width: 30rem;
    margin: 0 auto;
    margin-top: 1rem;
  }
  .about-us-page__video video {
    width: 5.5rem;
  }
  .about-us-page__naming {
    margin-top: 1rem;
    width: 23rem;
    aspect-ratio: 2485/488;
  }
  .about-us-page__description {
    margin: 0 auto;
    margin-top: 1.2rem;
    font-size: 1rem;
  }
  .instagram-link {
    margin-left: 0;
    margin-top: 2rem;
    width: 5.2rem;
  }
}
.product-card {
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.product-card__hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-card__title {
  width: 25ch;
  font-family: Arial;
  text-shadow: 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.9);
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

.product-card__kart {
  width: 5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.product-card__jpg {
  position: relative;
  aspect-ratio: 400/533;
}
.product-card__jpg img {
  object-fit: cover;
}

.product-card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  margin-bottom: 2rem;
}
.product-card__bottom .arrow-mobile {
  display: block;
  width: 2.5rem;
  cursor: pointer;
  aspect-ratio: 1/1;
}
.product-card__bottom .arrow-mobile img {
  object-fit: cover;
  object-position: center;
}
.product-card__bottom .product-card__bottom__price {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.product-card__bottom .product-card__bottom__price .product-card__price {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 9rem;
  top: 10%;
  font-size: 1.2rem;
  color: #FEF001;
  font-family: Questiora, VCR OSD Mono;
  text-shadow: 0.2em 0.2em 0.1em rgba(0, 0, 0, 0.8);
}
.product-card__bottom .product-card__bottom__price .no-size {
  justify-content: center;
}
.product-card__bottom .product-card__bottom__price .add-to-cart-btn {
  width: 8rem;
  cursor: pointer;
}

.ticket-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.ticket-section .ticket-section__img {
  width: 100px;
}
.ticket-section .ticket-section__img_items {
  width: 170px;
}
.ticket-section .ticket-section__list {
  width: 150px;
  margin: 1rem auto 7rem 0;
}

.ticket-section__text_desktop {
  display: none;
}

.product-card__grid {
  display: none;
}

.arrow-desktop {
  display: none;
}

.raffle-info {
  display: flex;
  flex-direction: column;
}

.raffle-info__title {
  margin: 0 auto;
  width: 10rem;
}

.raffle-info__list {
  margin-top: 2rem;
  width: 10rem;
  margin-bottom: 1rem;
}

.product-advice-note {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  color: white;
  text-shadow: 0.09rem 0.09rem 0 rgba(0, 0, 0, 0.9);
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.raffle-info-desktop {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 7rem;
  margin-bottom: 9rem;
}
.raffle-info-desktop .raffle-info__title-desktop {
  width: 14rem;
  margin-left: 4rem;
}
.raffle-info-desktop .raffle-info-desktop-subdivision {
  display: flex;
  margin-top: 4rem;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.raffle-info-desktop .raffle-info__list-desktop {
  margin-left: 0;
  width: 15rem;
}

.product-advice-note-desktop {
  margin-top: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  color: white;
  text-shadow: 0.09rem 0.09rem 0 rgba(0, 0, 0, 0.9);
}

@media (min-width: 1000px) {
  .content-page.product-page {
    padding: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .simple-text.waiting-msg {
    font-size: 1.3rem;
    margin: 0 auto;
  }
  .product-card {
    display: grid;
    grid-template-columns: 30rem auto;
    margin: 0 auto;
    padding: 0rem;
    gap: 0rem;
    width: auto;
  }
  .product-card .product-card__image {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: auto;
    padding: 0rem;
  }
  .product-card .product-card__image .arrow-desktop {
    display: block;
    width: 2.5rem;
    cursor: pointer;
  }
  .product-card .product-card__image .product-card__jpg {
    width: 20rem;
  }
  .product-card .product-card__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .product-card .product-card__grid div {
    width: 23rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-card .product-card__grid .product-card__title {
    font-size: 1.3rem;
    text-align: center;
    width: 20ch;
  }
  .product-card .product-card__grid .product-card__kart {
    width: 7rem;
    margin-right: 0;
    cursor: pointer;
  }
  .product-card .product-card__grid .product-card__price {
    text-align: center;
    font-family: Questiora, VCR OSD Mono;
    color: #FEF001;
    text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.8);
    font-size: 1.6rem;
  }
  .product-card .product-card__grid .add-to-cart-btn {
    position: relative;
    width: 11rem;
    cursor: pointer;
  }
  .ticket-section {
    display: none;
    border: 1px solid white;
    margin: 0 auto;
    margin-top: 3rem;
    gap: 2rem;
  }
  .ticket-section .ticket-section__img {
    width: 150px;
  }
  .ticket-section .ticket-section__img_items {
    width: 250px;
  }
  .ticket-section .ticket-section__text {
    width: 400px;
  }
  .ticket-section__text_desktop {
    display: block;
    width: 400px;
  }
  .product-card__hero {
    display: none;
  }
  .product-card__bottom {
    display: none;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  height: 100%;
  width: 100%;
  display: block;
}

video {
  display: block;
}

.wraper {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.wraper::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("../assets/bg/webBackgroundRework.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

main {
  display: flex;
  flex: 1;
}

.content-page {
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.content-title-text {
  width: 4.5rem;
}

div .article-wrap {
  background-size: contain;
}

.simple-text {
  font-size: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: justify;
  text-shadow: 0.13rem 0.14rem 0 rgba(0, 0, 0, 0.9);
}

@media (min-width: 700px) {
  div .wraper {
    background-image: url("../assets/bg/websiteBackground.webp");
    background-size: cover;
    background-attachment: fixed;
  }
  .content-title-text {
    width: 6rem;
  }
  .simple-text {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=app.css.map */
