.welcome-page
  margin: 0 auto
  
.greetings-message
  width: 15.8rem
  margin-top: 9rem

.home-animated-bar
  width: 15.8rem
  height: 10px
  video
    transform: translate(-37.5%, -35%) scale(0.33)

.home-figures
  display: none

@media (min-width: 1000px)
  .welcome-page
    width: 100%
    position: relative
    align-items: center
    justify-content: center

  .greetings-message
    margin-top: 1.6rem
    width: 21rem

  .home-animated-bar
    margin-top: 3rem
    width: 21rem
    height: 100px
    video
      transform: translate(-33%, -40%)  scale(0.45)
    
  // .home-figures
  //   width: 12rem
  //   height: 312px
  //   overflow: visible
  //   position: relative

  // .figure-a
  //   video
  //     position: absolute
  //     left: 50%
  //     top: -170px
  //     transform: translate(-49.9%, -50%) scale(2.5)

  // .figure-b
  //   video
  //     position: absolute
  //     left: 50%
  //     top: -170px
  //     transform: translate(-49.9%, -50%) scale(2.5)
