.welcome-page
  display: flex
  justify-content: center
  
.greetings-message
  width: 15.8rem
  aspect-ratio: 1977 / 1121
  margin-top: 9rem

.home-animated-bar
  width: 15.8rem
  height: 10px
  video
    transform: translate(-37.5%, -35%) scale(0.33)

.home-figures
  display: none

@media (min-width: 1000px)
  .welcome-page
    position: relative
    align-items: center //alinea verticalmente
    justify-content: center //alinea horizontalmente

  .greetings-message
    margin-top: 1.6rem
    width: 21rem

  .home-animated-bar
    margin-top: 3rem
    width: 21rem
    height: 100px
    video
      transform: translate(-33%, -40%)  scale(0.45)
    
  .home-figures
    border: 1px solid red
    display: flex
    height: 200px
    width: 200px

  .figure-a
    
    
    
    // video
      // transform: scale(0.7)
      // transform-origin: center

  .fondo-a
    // background-image: url("../src/assets/home/star-girl.png")

  .figure-b
    // position: absolute
    // video
      // transform:  scale(0.7)

  .fondo-b
    // background-image: url("../src/assets/home/star-boy.png")