.welcome-page
  justify-content: center
  
.greetings-message
  width: 15.8rem
  aspect-ratio: 1977 / 1121
  margin-top: 9rem

.home-animated-bar
  width: 15.8rem
  height: 10px
  video
    transform: translate(-37.5%, -35%) scale(0.33)

.home-figures
  display: none

@media (min-width: 1000px)
  .welcome-page
    align-items: center //alinea verticalmente
    // position: relative

  .greetings-message
    margin-top: 1.6rem
    width: 21rem

  .home-animated-bar
    margin-top: 3rem
    width: 21rem
    height: 100px
    video
      transform: translate(-33%, -40%)  scale(0.45)
    
  .figures-contenedor
    position: relative
    border: 1px solid red
    flex: 1
    height: 500px

  .home-figures
    border: 1px solid green
    position: absolute
    display: flex
    width: 200px
    aspect-ratio: 1 /1

  .figure-a
    top: 50px
    left: 50px
    
  .figure-b
    bottom: 50px
    right:50px

    // video
      // transform: scale(0.7)
      // transform-origin: center

  .fondo-a
    // background-image: url("../src/assets/home/star-girl.png")

    // position: absolute
    // video
      // transform:  scale(0.7)

  .fondo-b
    // background-image: url("../src/assets/home/star-boy.png")