.product-card
  padding: 0rem 2rem
  display: flex
  flex-direction: column
  width: 100%
  gap: 1rem

.product-card__hero
  display: flex
  align-items: center
  justify-content: space-between

.product-card__title
  width: 20ch
  font-family: Arial
  text-shadow: 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.9)
  font-size: 1rem
  font-weight: 500
  color: white

.product-card__kart
  width: 5rem
  margin-right: 2rem


.product-card__jpg
  position: relative
  aspect-ratio: 400 / 533
  img
    object-fit: cover

.product-card__bottom
  display: flex 
  justify-content: space-between
  padding: 0rem 1rem 
  margin-bottom: 2rem
  .arrow-mobile
    display: block
    width: 2.5rem
    cursor: pointer
  .product-card__bottom__price
    display: flex
    flex-direction: column
    align-items: center
    gap: 1.5rem
    position: relative
    .product-card__price
      position: absolute
      text-align: center
      width: 10ch
      top: 10%
      font-size: 1.2rem
      color: #FEF001
      font-family: Questiora, VCR OSD Mono
      text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.8)
    .add-to-cart-btn
      position: absolute
      top: 80%
      margin-top: -1.5rem
      width: 8rem
      cursor: pointer

.product-card__grid
  display: none

.arrow-desktop
  display: none

  
@media (min-width: 1000px)
  .content-page.product-page
    padding: 0rem
    display: flex
    align-items: center
    justify-content: center

  .simple-text.waiting-msg
    font-size: 1.3rem
    margin: 0 auto
  
  .product-card
    display: grid
    grid-template-columns: 30rem auto
    margin: 0 auto
    padding: 0rem
    gap: 0rem
    width: auto
    .product-card__image
      display: flex
      align-items: center
      gap: 2rem
      width: auto
      padding: 0rem
      .arrow-desktop
        display: block
        width: 2.5rem
        cursor: pointer
      .product-card__jpg
        width: 20rem
    .product-card__grid
      display: grid
      grid-template-columns: repeat(2, 1fr)
      div
        width: 23rem
        display: flex
        justify-content: center
        align-items: center
      .product-card__title
        font-size: 1.3rem
        text-align: center
      .product-card__kart
        width: 7rem
        margin-right: 0
        cursor: pointer
      .product-card__price
        text-align: center
        font-family: Questiora, VCR OSD Mono
        color: #FEF001
        text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.8)
        font-size: 1.6rem  
      .add-to-cart-btn
        position: relative
        width: 11rem
        cursor: pointer

  .product-card__hero
    display: none

  .product-card__bottom
    display: none 

