.product-card
  padding: 0rem 2rem
  display: flex
  flex-direction: column
  width: 100%
  gap: 1rem

.product-card__hero
  display: flex
  align-items: center
  justify-content: space-between

.product-card__title
  width: 20ch
  font-family: Arial !important
  color: white

.product-card__kart
  width: 5rem
  margin-right: 2rem

.product-card__image
  position: relative
  aspect-ratio: 400 / 533
  img
    object-fit: cover

.arrow-desktop
  display: none

.product-card__bottom
  display: flex 
  justify-content: space-between
  padding: 0rem 1rem 
  // gap: 5rem
  .arrow-mobile
    display: block
    width: 2.5rem
    cursor: pointer

.product-card__bottom__price
  display: flex
  flex-direction: column
  align-items: center
  gap: 1.5rem
  position: relative
  .product-card__price
    position: absolute
    text-align: center
    width: 10ch
    top: 20%
    font-size: 1.4rem
    color: #FEF001
    font-family: Questiora, VCR OSD Mono
    text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.8)
  .add-to-cart-btn
    position: absolute
    top: 80%
    margin-top: -0.5rem
    width: 8rem
    cursor: pointer


  
@media (min-width: 1000px)
  .simple-text.waiting-msg
    font-size: 1.3rem
  
  
  .product-card
    padding: 0rem 2rem
    display: flex
    flex-direction: column
    width: 100%
    gap: 1rem

  .product-card__hero
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between

  .product-card__title
    width: 18ch
    font-family: VCR OSD Mono
    color: white

  .product-card__kart
    width: 5rem
    margin-right: 2rem

  .product-card__image
    display: flex
    align-items: center
    gap: 1rem
    width: 20rem
    figure
      position: absolute
      width: 2.5em
      cursor: pointer
    .left-arrow
      top: 40%
      left: 0
    .right-arrow
      top: 40%
      right: 0%

  .arrow-desktop
    display: block

  .arrow-mobile
    display: none 

  .product-card__bottom
    display: flex 
    gap: 2rem
    align-items: center
    justify-content: center

  .product-card__price
    text-align: center
    font-family: Questiora, VCR OSD Mono
    color: #FEF001
    text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.8)
    font-size: 1.4rem

  .product-card__arrows
    display: flex
    justify-content: center
    gap: 14rem
    margin: -3rem
    postion absolute
    figure
      cursor: pointer
      width: 2.5rem
