.videos
  margin-top: 0.2rem
  display: grid
  grid-template-columns: repeat(2, 1fr)
  gap: 1.5rem
  margin-bottom: 0.2rem

.video-card
  display: flex
  flex-direction: column
  align-items: center

.video-card__image
  height: 4rem
  width: 4rem
  img
    object-fit: contain

.video-card__video
  video
    width: 4rem
    height: 4rem

.video-card__title
  width: 7rem
  aspect-ratio: 112 / 20.2667

.video-card__desc
  font-family: 'Arial'
  font-size: 0.5rem
  color: white
  text-shadow: 0.13rem 0.14rem 0 rgba(0, 0, 0, 0.9);
  text-align: center
  margin-top: 0.4rem

@media (min-width: 720px)
  .videos
    margin-top: 0.5rem
    grid-template-columns: repeat(2, 1fr)
    gap: 2rem
    margin-bottom: 0.5rem

  .video-card__image
    height: 5rem
    width: 5rem

  .video-card__video
    video
      width: 5rem
      height: 5rem

  .video-card__title
    width: 9rem
    aspect-ratio: 112 / 20.2667

  .video-card__desc
    font-size: 0.65rem

@media (min-width: 1000px)
  .videos
    margin-top: 2.5rem
    grid-template-columns: repeat(3, 1fr)
    padding: 0 7rem
    width: 100%
    row-gap: 4rem
    column-gap: 3rem
    
  .video-card
    gap: 0.5rem

  .video-card__image
    width: 9rem
    height: 7rem

  .video-card__video
    video
      width: 9rem
      height: 7rem
  
  .video-card__title
    width: 12rem
    
  .video-card__desc
    font-size: 0.85rem
    width: 30ch
    text-align: justify
    text-align-last: center
